body { 
    height: 100%; 
    margin: 0; 
    overflow: hidden; 
    color: #111; 
    background: #fff; 
    font-family: sans-serif;
}
#universe {
    width: 100%;
    height: 100%;
}
#p-title { 
    padding: 18px 20px 20px;
    font-size: 9pt; 
    color: #111 !important; 
    margin: 0; 
}

#canvas { 
    position: absolute;
    top: 100px; 
    left: 20px; 
    width: calc(100% - 40px); 
    height: calc(100% - 120px); 
    background: #070809; 
}
